<!-- Brandbar snippet start -->
<div id="brandbar">
    <div class="container">
        <%= link_to(image_tag("SUL-Logo-white-text-h25.png", :alt => "Stanford University Libraries"), "http://library.stanford.edu/")%>
    </div> <!-- .container end -->
    <div class="report">
    <a href="http://operadata.stanford.edu/report"><span>Report a Problem</span></a>
    </div>
</div> <!-- #brandbar end -->
<!-- Brandbar snippet end -->
<div id="header-wrapper">
  <div id="header-navbar-static-top" class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="span3">
                <%= link_to(image_tag("CarmenEscamillo.jpg", :alt => t('blacklight.application_name'), :title => 'Chromolithographic plate from Opern-Tÿpen (Berlin: G. Kölle, 1882) depicting Carmen and Escamillo in Act IV of Bizet’s Carmen'), root_path, :class => "logo") %>
          </div>
          <div class="span9 site-header-content">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a> 
            <h1><%= t('Opening Night! Opera & Oratorio Premieres') %></h1>
              <div class="nav-collapse">
              <ul class="nav">
                <li class="<%="active" if on_home_page %>"><%= link_to t('d2g.nav.home'), root_path %></li>
                <li class="<%="active" if on_about_pages%>"><%= link_to t('d2g.nav.about'), about_project_path %></li>
                <li class="<%="active" if on_notes_pages%>"><%= link_to t('Source Notes'), notes_source_path %></li>
                <li class="<%="active" if on_submit_pages%>"><a href="http://operadata.stanford.edu/submit">Submit a Premiere</a></li>
              </ul>
            </div>
            <div class="row">
			<div class="span6 clearfix" id="searchbar">
                    <%= render_search_bar %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
